head {font-family:Verdana; font-size:16px; color:#ffffff;}
body {font-family:Verdana; font-size:14px; color:#ffffff}
a {color:#7fafff; font-family:Verdana; font-size:30px; text-decoration:underline;}
bluetext {color:#000000;}

bodyBack {
font-family:Verdana;
font-size:14px;
color:#CF0C79; 
}

headBack {
font-family:Verdana;
font-size:16px;
color:#000000;
}