<settings>
  <General_Properties>
    <direction value="horizontal"/>
    <width value="826"/>
    <height value="112"/>
    <stretchWidth value="false"/>
    <stretchHeight value="false"/>
    <spacing value="11"/>
    <thumbWidth value="133"/>
    <thumbHeight value="114"/>
    <center value="false"/>
    <offset value="0"/>
    <preloader value="assets/preloaders/progressiveLine.swf"/>
    <assets value="thumbs.xml"/>
    <showAbout value="true"/>
  </General_Properties>
  <Background_Properties>
    <fillType value="solid"/>
    <backgroundColor1 value="0xdcdcdc"/>
    <backgroundColor2 value="0xdcdcdc"/>
    <backgroundAlpha value="1"/>
    <bgCornerRadius value="0"/>
    <gradientRotation value="46"/>
    <gradientRatio value="172"/>
    <gradientPosX value="-92"/>
    <gradientPosY value="0"/>
  </Background_Properties>
  <Shade_Properties>
    <useShade value="false"/>
    <shadeColor value="0xffffff"/>
    <shadeAlpha value="1"/>
    <shadeRatio value="237"/>
    <shadeWidth value="0"/>
    <shadeHeight value="1000"/>
  </Shade_Properties>
  <Expand_Properties>
    <direction value="up/right"/>
    <percent value="0"/>
    <func value="Back"/>
    <method value="easeOut"/>
    <duration value="0.6"/>
  </Expand_Properties>
  <Roll_Over_Properties>
    <rollOverBehaviour value="smooth"/>
    <brightnessOver value="35"/>
    <brightnessOut value="-25"/>
    <brightnessSpeed value="7"/>
  </Roll_Over_Properties>
  <Frame_Properties>
    <color value="0xffffff"/>
    <width value="0"/>
    <alpha value="0"/>
    <selectedColor value="0xc53489"/>
    <selectedWidth value="12"/>
    <selectedAlpha value="0.8"/>
  </Frame_Properties>
  <Reflection_Properties>
    <useReflection value="false"/>
    <reflectionDistance value="1"/>
    <reflectionAlpha value="0.3"/>
    <reflectionSpread value="116.3"/>
  </Reflection_Properties>
  <Scroll_Properties>
    <scrollMode value="infinite"/>
    <scrollOnRollOver value="images"/>
    <onRollOverSpeed value="20"/>
    <onRollOutSpeed value="1"/>
    <stoppingSpeed value="60"/>
    <stopOnRollOver value="false"/>
    <inverseScrolling value="none"/>
    <buttonScrollMode value="pixel by pixel"/>
    <buttonImage value="assets/arrow1.png"/>
    <buttonsX value="151"/>
    <buttonsY value="175"/>
    <buttonDistance value="302"/>
  </Scroll_Properties>
  <Tooltip_Properties>
    <position value="top"/>
    <delay value="0.3"/>
    <distance value="3"/>
    <padding value="5"/>
    <cornerRadius value="2"/>
    <appearance value="center"/>
    <easingFunction value="none"/>
    <easingDuration value="0.3"/>
    <fontFace value="verdana"/>
    <fontSize value="13"/>
    <fontColor value="16777215"/>
    <backColor value="0x0066ff"/>
    <backColor2 value="0x000066"/>
    <backAlpha value="0.9"/>
    <borderColor value="0x000099"/>
    <borderThickness value="1"/>
    <useArrow value="true"/>
    <arrowPos value="center"/>
    <arrowSize value="5"/>
    <embedFonts value="false"/>
  </Tooltip_Properties>
</settings>