head {font-family:Verdana; font-size:14px; color:#261c08;}
body {font-family:Verdana; font-size:18px; color:#bfba69}
a {color:#ff0000; font-family:Verdana; font-size:11px;}
bluetext {color:#0000ff;}